<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ✅ Aplicação com ícone e nome atualizados -->
    <application
        android:name=".LojaSocialApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ipca_logo"
        android:roundIcon="@mipmap/ipca_logo"
        android:label="IPCA"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loja_social"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- Ecrã de Login (ponto de entrada) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ecrã principal -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>
